
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model NZJobFInder.Models.Employer

<div class="container" style="background-color:#e5e6f1;width:100%;margin-top:52px">
    <form method="post" class="formReg" id="form_reg" onsubmit="alert('Thank you for your registeration!')" action="~/employer/regpass">
        <div class="form-group">
            <p id="regsubtitle">Employers Please register here</p>
            @*<label for="cname">Company Name</label>
        <input id="employerName" class="input-control form-control" name="employerName" id ="employerName" placeholder="Company Name" required autofocus />*@

            @Html.Label("employerName", "Employer Name")
            @Html.TextBox("employerName", null, new { @class = "form-control", @placeholder = "Employer Name" })
            @Html.ValidationMessage("employerName", null, new { @class = "text-danger" })
            <br>
            <label for="addr">Address</label>
            <input id="addr" type="text" class="input-control form-control" name="employerAddress" placeholder="Address" />

            @*<label for="phnum">Phone Num</label>
        <input id="phnum" type="tel" class="input-control form-control" name="employerPhoneNum" placeholder="Phone Num" />*@
            @Html.LabelFor(m => m.employerPhoneNum, "Phone Num")
            @Html.TextBoxFor(m => m.employerPhoneNum, new { @class = "form-control", @placeholder = "Phone Num" })
            @Html.ValidationMessageFor(model => model.employerPhoneNum, "", new { @class = "text-danger" })

            <br>
            <label for="username">User Name</label>
            <input id="username" type="text" class="input-control form-control" name="employerUserName" placeholder="User Name" />

            <label for="epass">Password</label>
            <input id="epass" type="password" class="input-control form-control" name="employerPassword" placeholder="Password" />


            @*<label for="eaddr">Email Address</label>
        <input id="eaddr" type="email" class="input-control form-control" name="employerEmailAddress" placeholder="Email Address" />*@

            @Html.LabelFor(m => m.employerEmailAddress, "Email Address")
            @Html.TextBoxFor(m => m.employerEmailAddress, new { @class = "form-control", @placeholder = "Phone Num" })
            @Html.ValidationMessageFor(model => model.employerEmailAddress, "", new { @class = "text-danger" })

            <button class="btnRegister form-control" id="btnSubmit" type="submit" style="margin-top:5px">Register</button>
        </div>
    </form>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"></script>

