
@{
    ViewBag.Title = "regpass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<h1>Register Success!</h1>
<hr style="border:5px solid #1e222d" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Emplyer ID</th>
            <th>Company Name</th>
            <th>Employer Address</th>
            <th>Employer PhoneNumber</th>
            <th>Employer Username</th>
            <th>Employer EmailAddress</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.employerId</td>
            <td>@Model.employerName </td>
            <td>@Model.employerAddress </td>
            <td>@Model.employerPhoneNum </td>
            <td>@Model.employerUserName </td>
            <td>@Model.employerEmailAddress </td>
        </tr>
    </tbody>
</table>


