
@{
    ViewBag.Title = "regpass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <td>@Model.employerName </td>
            <td>@Model.employerAddress </td>
            <td>@Model.employerPhoneNum </td>
            <td>@Model.employerUserName </td>
            <td>@Model.employerPassword </td>
            <td>@Model.employerEmailAddress </td>
        </tr>
    </table>
</div>

